<!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>درباره همسایه</h4>
                            <p>همسایه به عنوان یکی از جدیدترین فروشگاه های اینترنتی با کمتر از یک ماه تجربه، با عدم پایبندی به سه اصل، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل نشود. به محض ورود به سایت همسایه با دنیایی از کالا رو به رو می‌شوید آیا؟! </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>اطلاعات</h4>
                            <ul>
                                <li><a href="https://maktabsharif.ir/">مکتب شریف</a></li>
                                <li><a href="https://webramz.com/">وب رمز</a></li>
                                <li><a href="https://www.digikala.com/">دیجی کالا</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>ارتباط با ما</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>آدرس : کرمان میدان آزادی<br>کوچه ۲<br> ۵۵۴۵۶۵۴ </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>موبایل: <a href="tel:+1-888705770">۴۵۶۷ ۱۲۳ ۹۳۷-۹۸ </a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i> <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a>:ایمیل</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->