<!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
						<option>¥ JPY</option>
						<option>$ USD</option>
						<option>€ EUR</option>
					</select>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="#">پروفایل</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        {% if user.is_authenticated %}
                            <li class="nav-item active d-flex align-items-center"><a class="nav-link border-secondary bg-info rounded h-25" href="#"><p>{{ user.first_name }}  {{ user.last_name }}</p></a></li>
                            <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">خروج</a></li>
                        {% else %}
                             <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
                        {% endif %}
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">خانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">درباره ما</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">محصولات</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        {% for category in categories %}
                                            {% if category.children.count %}
                                                <div class="col-menu col-md-4">
                                                    <h6 class="title">{{ category.name }}</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                        {% for child in category.children.all %}
                                                            <li><a href="{% url 'sub_category' child.slug %}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}


                                        <!-- end col-3 -->
                                    </div>
                                    <!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">حساب</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "cart" %}">سبد خرید</a></li>
                                <li><a href="my-account.html">پروفایل</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Attribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
						<i class="fa fa-shopping-bag"></i>
                            <span class="badge text-danger" id="basket_item_count">{{ basket_items.count }}</span>
					</a></li>
                    </ul>
                </div>
                <!-- End Attribute Navigation -->
            </div>
        {% if user.is_authenticated %}
            <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list" id="side_basket">
                            {% for basket_item in basket_items %}
                                <li id="basket_item{{ basket_item.id }}">
                                    <h6 class="row justify-content-between"><a href="{% url 'product_detail' basket_item.shop_product.product.slug %}">{{ basket_item.shop_product.product.name }}</a> <span style="cursor: pointer" onclick="clear_basket_item({{ basket_item.id }})"><i class="fa fa-trash" aria-hidden="true"></i></span></h6>
                                    <p><span id="basket_item_quantity{{ basket_item.id }}">{{ basket_item.quantity }}</span>x - <span class="price">${{ basket_item.price }} </span> <span></span></p>
                                </li>
                            {% endfor %}
                        </ul>
                        <li class="total bg-white">
                            <a href="{% url 'cart' %}" class="btn btn-default hvr-hover btn-cart">سبد خرید</a>
                            <span class="float-right"><strong>Total</strong> :تومان<span id="basket_total_price">{{ basket.total_price }}</span></span>
                        </li>
                    </li>
                </div>
            <!-- End Side Menu -->
        {% endif %}
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->