{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2><a href="{% url 'sub_category' product.category.slug %}"
                           class="text-white">{{ product.category.name }}</a></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">{{ product.name }}</li>
                        <li class="breadcrumb-item active">{{ product.category.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Product Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details text-right">
                        <h2>{{ product.name }}</h2>
                        {% if min_shop_products ==  max_shop_products %}
                            <h5>{{ min_shop_products }}$</h5>
                        {% else %}
                            <h5>from {{ min_shop_products }}$ to {{ max_shop_products }}$</h5>
                        {% endif %}
                        <p class="available-stock"><span> {{ quantity }}موجودی </span>
                        </p>
                        <h4> : توضیح کوتاه </h4>
                        <p>{{ product.detail }} </p>

                        <p class="add-to-btn mr-0">
                        <div class="add-comp">
                            {% if user.is_authenticated %}
                                <a id="product_heart_container" class="btn hvr-hover text-white"
                                   onclick="likeProduct({{ product.id }}, true)"><i class="fas fa-heart"
                                                                                    id="product_like">{{ product_likes }}</i>
                                </a>
                                <a class="btn hvr-hover text-white"
                                   onclick="likeProduct({{ product.id }}, false)" id="product_heart_container"><i
                                        class="far fa-heart" id="product_dislike">{{ product_dislikes }}</i></a>
                            {% else %}
                                <a id="product_heart_container" class="btn hvr-hover"
                                   onclick="alert('لطفا وارد شوید')" href="{% url 'login' %}"><i
                                        class="fas fa-heart" id="product_like">{{ product_likes }}</i></a>
                                <a class="btn hvr-hover" href="{% url 'login' %}" id="product_heart_container"
                                   onclick="alert('لطفا وارد شوید')"><i
                                        class="far fa-heart" id="product_dislike">{{ product_dislikes }}</i></a>
                            {% endif %}
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for product_image in product_images %}
                                {% if forloop.first %}
                                    <div class="carousel-item active"><img class="d-block w-100"
                                                                           src="{{ product_image.image.url }}"
                                                                           alt="slide"></div>
                                {% else %}
                                    <div class="carousel-item"><img class="d-block w-100"
                                                                    src="{{ product_image.image.url }}"
                                                                    alt="Second slide"></div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span></a>

                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span></a>

                        <ol class="carousel-indicators">
                            {% for product_image in product_images %}
                                {% if forloop.first %}
                                    <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                        <img class="d-block w-100 img-fluid" src="{{ product_image.image.url }}"
                                             alt=""/>
                                    </li>
                                {% elif forloop.counter == 1 %}
                                    <li data-target="#carousel-example-1" data-slide-to="1">
                                        <img class="d-block w-100 img-fluid" src="{{ product_image.image.url }}"
                                             alt=""/>
                                    </li>
                                {% elif forloop.counter == 2 %}
                                    <li data-target="#carousel-example-1" data-slide-to="2">
                                        <img class="d-block w-100 img-fluid" src="{{ product_image.image.url }}"
                                             alt=""/>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ol>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>نام فروشگاه</th>
                                <th>نام کالا</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shop_product in shop_products %}
                                <tr>
                                    <td class="name-pr">
                                        <a href="{% url 'shop_detail' shop_product.shop.slug %}">{{ shop_product.shop.name }}</a>
                                    </td>
                                    <td class="text-secondary">
                                        <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                    </td>
                                    <td class="price-pr">
                                        <p><span>تومان</span> {{ shop_product.price }}</p>
                                    </td>
                                    <td class="quantity-box"><input id="quantity{{ shop_product.id }}" type="number"
                                                                    size="4" value="1" min="0" step="1"
                                                                    class="c-input-text qty text"></td>
                                    <td class="remove-pr">
                                        {% if user.is_authenticated %}
                                            <a class="btn hvr-hover text-white"
                                               onclick="create_basket_item({{ shop_product.id }}, {{ user.basket.id }}, {{ shop_product.price }}, {{ user.basket.basket_items.all.count }})">اضافه
                                                کردن به سبد خرید</a>
                                        {% else %}
                                            <a class="btn hvr-hover text-white" href="{% url 'login' %}"
                                               onclick="alert('قبل از خرید لطفا وارد شوید')">اضافه کردن به سبد خرید</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-12 text-right">
                    {% if settings.allow_discussion %}
                        {% if user.is_authenticated  and settings.comment %}
                            <form id="comment_form">
                                {% csrf_token %}
                                {% include 'component/form.html' %}
                                <button type="submit" value="ok" class="bg-transparent border-0"><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        {% elif user.is_anonymous  and settings.comment %}
                            <form>
                                {% csrf_token %}
                                {% include 'component/form.html' %}
                                <a type="submit" class="bg-transparent border-0" onclick="alert('لطفا وارد شوید')"
                                   href="{% url 'login' %}"><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i></a>
                            </form>
                        {% endif %}
                        <div class="row" id="comment_container">
                            {% for comment in comments %}
                                <div class="col-6"></div>
                                <div class="mt-3 col-6 bg-light">
                                    <p class="text-dark">{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                                    {{ comment.content }}<br>
                                </div>
                                <div class="col-12">
                                    <button class="bg-transparent border-0" onclick="likeComment({{ comment.id }})"><i
                                            class="fas fa-thumbs-up text-info"></i></button>
                                    <span id="like_count_container{{ comment.id }}"
                                          class="text-info">{{ comment.like_count }} </span> |
                                    <button class="bg-transparent border-0"
                                            onclick="likeComment({{ comment.id }},false)"><i
                                            class="fas fa-thumbs-down text-danger"></i></button>
                                    <span id="dislike_count_container{{ comment.id }}"
                                          class="text-danger">{{ comment.dislike_count }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1 class="text-right">محصولات این دسته بندی</h1>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for category_product in category_products %}
                            <div class="item">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img src="{{ category_product.0.image.url }}" class="img-fluid" alt="Image">
                                        <div class="mask-icon">
                                            <ul>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                       title="View"><i class="fas fa-eye"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                       title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="right"
                                                       title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                            </ul>
                                            <a class="cart" href="#">صفحه کالا</a>
                                        </div>
                                    </div>
                                    <div class="why-text">
                                        <h4>
                                            <a href="{% url 'product_detail' category_product.0.slug %}">{{ category_product.0.name }}</a>
                                        </h4>
                                        <h5>{{ category_product.1 }} تومان </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock %}

{% block javascript %}
    <script>
        function likeComment(commentID, condition = true) {
            const data = JSON.stringify({comment_id: commentID, condition})
            console.log(data)
            $.ajax({
                type: "post",
                url: "{% url 'like_comment' %}",
                data: data,
                success: function (response) {
                    console.log(123)
                    const data = JSON.parse(response)
                    $(`#like_count_container${commentID}`).text(data.like_count);
                    $(`#dislike_count_container${commentID}`).text(data.dislike_count);
                    console.log(data.dislike_count)
                    console.log(data.like_count)
                },
            });
        }
    </script>
    <script>
        function likeProduct(ProductID, condition) {
            const data = JSON.stringify({product_id: ProductID, condition})
            console.log(data)
            $.ajax({
                type: "post",
                url: "{% url 'like_product' %}",
                data: data,
                success: function (response) {
                    console.log(123)
                    const data = JSON.parse(response)
                    $(`#product_like`).text(`${data.like_count}`);
                    $(`#product_dislike`).text(`${data.dislike_count}`);
                },
            });
        }
    </script>
    <script>
        document.getElementById("comment_form").addEventListener("submit", function (event) {
            event.preventDefault();
            const content = $('#id_content').val()
            console.log(500, "this is content")
            console.log(content)
            console.log('end content')
            const data = JSON.stringify({content, product_id:{{product.id}}})
            $.ajax({
                type: "post",
                url: "{% url 'create_comment' %}",
                data: data,
                success: function (response) {
                    const data = JSON.parse(response)
                    console.log("data : ", data)
                    if (data.content != '') {
                        $("#comment_container").prepend(`
                                <div class="mt-3">
                                    <p>${data.first_name} ${data.last_name}  <br>
                                         ${data.content}
                                    </p>
                                    <div>
                                        <button onclick="likeComment(${data.comment_id})" class="bg-transparent border-0"><i class="fas fa-thumbs-up text-info"></i></button>
                                        <span id="like_count_container${data.comment_id}">${data.like_count}</span>
                                        <button onclick="likeComment(${data.comment_id} , false)" class="bg-transparent border-0"><i class="fas fa-thumbs-down text-danger"></i></button>
                                        <span id="dislike_count_container${data.comment_id}">${data.dislike_count}</span>

                                    </div>
                                </div>`);
                    } else {
                        alert("لازمه وارد بشید")
                    }
                },
                error: function (error) {
                    alert("لازمه وارد بشید")
                }
            });
        }, false);
    </script>
    <script>
        function clear_basket_item(basket_item_id) {
            const data = JSON.stringify({basket_item_id})
            $.ajax({
                type: "post",
                url: '{% url 'remove_basket_item' %}',
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    $(`#basket_item${data.basket_item_id}`).remove()
                    $('#basket_item_count').text(`${data.basket_item_count}`)
                    $('#basket_total_price').text(`${data.basket_total_price}`)
                },
            });
        }
    </script>
    <script>
        function create_basket_item(shop_product_id, basket_id, price, basket_item_count) {
            console.log("shop_product_id : ", shop_product_id)
            console.log("basket : ", basket_id)
            console.log("price : ", price)
            quantity = $(`#quantity${shop_product_id}`).val()
            console.log("quantity : ", quantity)
            const data = JSON.stringify({shop_product_id, basket_id, price, quantity})
            $.ajax({
                type: "post",
                url: '{% url 'create_basket_item' %}',
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    if (data.mode == 1) {
                        $(`#basket_item_quantity${data.basket_item_id}`).text(`${data.quantity}`)
                        $('#basket_total_price').text(`${data.basket_total_price}`)
                    } else {
                        $('#side_basket').append(`<li id="basket_item${data.basket_item_id}">
                                    <h6 class="row justify-content-between"><a href='#'>${data.product_name}</a> <span style="cursor: pointer" onclick="clear_basket_item(${data.basket_item_id})"><i class="fa fa-trash" aria-hidden="true"></i></span></h6>
                                    <p><span id="basket_item_quantity${data.basket_item_id}">${data.quantity}</span>x - <span class="price">$${data.price}</span></p>
                                </li>`)
                        $('#basket_item_count').text(`${data.basket_item_count}`)
                        $('#basket_total_price').text(`${data.basket_total_price}`)
                    }
                },
            });
        }
    </script>
{% endblock %}