{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <style type="text/css">
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3, .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }
    </style>
    <style type="text/css">
        body {
            background: #f5f5f5;
            margin-top: 20px;
        }

        .ui-w-80 {
            width: 80px !important;
            height: auto;
        }

        .btn-default {
            border-color: rgba(24, 28, 33, 0.1);
            background: rgba(0, 0, 0, 0);
            color: #4E5155;
        }

        label.btn {
            margin-bottom: 0;
        }

        .btn-outline-primary {
            border-color: #26B4FF;
            background: transparent;
            color: #26B4FF;
        }

        .btn {
            cursor: pointer;
        }

        .text-light {
            color: #babbbc !important;
        }

        .btn-facebook {
            border-color: rgba(0, 0, 0, 0);
            background: #3B5998;
            color: #fff;
        }

        .btn-instagram {
            border-color: rgba(0, 0, 0, 0);
            background: #000;
            color: #fff;
        }

        .card {
            background-clip: padding-box;
            box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
        }

        .row-bordered {
            overflow: hidden;
        }

        .account-settings-fileinput {
            position: absolute;
            visibility: hidden;
            width: 1px;
            height: 1px;
            opacity: 0;
        }

        .account-settings-links .list-group-item.active {
            font-weight: bold !important;
        }

        html:not(.dark-style) .account-settings-links .list-group-item.active {
            background: transparent !important;
        }

        .account-settings-multiselect ~ .select2-container {
            width: 100% !important;
        }

        .light-style .account-settings-links .list-group-item {
            padding: 0.85rem 1.5rem;
            border-color: rgba(24, 28, 33, 0.03) !important;
        }

        .light-style .account-settings-links .list-group-item.active {
            color: #4e5155 !important;
        }

        .material-style .account-settings-links .list-group-item {
            padding: 0.85rem 1.5rem;
            border-color: rgba(24, 28, 33, 0.03) !important;
        }

        .material-style .account-settings-links .list-group-item.active {
            color: #4e5155 !important;
        }

        .dark-style .account-settings-links .list-group-item {
            padding: 0.85rem 1.5rem;
            border-color: rgba(255, 255, 255, 0.03) !important;
        }

        .dark-style .account-settings-links .list-group-item.active {
            color: #fff !important;
        }

        .light-style .account-settings-links .list-group-item.active {
            color: #4E5155 !important;
        }

        .light-style .account-settings-links .list-group-item {
            padding: 0.85rem 1.5rem;
            border-color: rgba(24, 28, 33, 0.03) !important;
        }


    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9 text-secondary text-right">{{ user.first_name }}
                                    <span></span> {{ user.last_name }}</div>
                                <div class="col-sm-3 text-right">
                                    <h6 class="mb-0">نام و نام خانوادگی</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-9 text-secondary text-right">{{ user.email }}</div>
                                <div class="col-sm-3 text-right"><h6 class="mb-0">ایمیل</h6></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-9 text-secondary text-right">{{ user.mobile }}</div>
                                <div class="col-sm-3 text-right">
                                    <h6 class="mb-0">موبایل</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <h6 class="mb-0"><a href="{% url 'addresses' %}">آدرس ها</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ user.image.url }}" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{ user.first_name }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-12 col-lg-12 mb-3">
                    <h5 class="text-light"><a data-toggle="collapse" href="#formRegister" role="button"
                                              aria-expanded="false">
                        <button class="btn btn-info">ویرایش اطلاعات</button>
                    </a></h5>
                    <form class="mt-3 collapse review-form-box" id="formRegister">
                        <div class="container light-style flex-grow-1 container-p-y">

                            <div class="card overflow-hidden">
                                <div class="row no-gutters row-bordered row-border-light">
                                    <div class="col-md-3 pt-0">
                                        <div class="list-group list-group-flush account-settings-links">
                                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                               href="#account-general">General</a>
                                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                               href="#account-change-password">Change password</a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show" id="account-general">

                                                <div class="card-body media align-items-center">
                                                    {% if user.image %}
                                                        <img id="update_image" src="{{ user.image.url }}" alt=""
                                                             class="d-block ui-w-80">
                                                    {% endif %}

                                                    <div class="media-body ml-4">
                                                        <form method="post" action="{% url 'change_image' %}" enctype="multipart/form-data" >
                                                            <input type="file" class="bg-gray-300" id="change_image">
                                                            <button type="submit">Reset</button>
                                                        </form>


                                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max
                                                            size of 800K
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="border-light m-0">

                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label class="form-label">First name</label>
                                                        <input type="text" class="form-control mb-1" value="nmaxwell">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Last name</label>
                                                        <input type="text" class="form-control" value="Nelle Maxwell">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">E-mail</label>
                                                        <input type="text" class="form-control mb-1"
                                                               value="nmaxwell@mail.com">
                                                        <div class="alert alert-warning mt-3">
                                                            Your email is not confirmed. Please check your inbox.<br>
                                                            <a href="javascript:void(0)">Resend confirmation</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">Mobile</label>
                                                        <input type="text" class="form-control" value="Company Ltd.">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="account-change-password">
                                                <div class="card-body pb-2">

                                                    <div class="form-group">
                                                        <label class="form-label">Current password</label>
                                                        <input type="password" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label">New password</label>
                                                        <input type="password" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label">Repeat new password</label>
                                                        <input type="password" class="form-control">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right mt-3">
                                <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock %}
{% block javascript %}
    <script>
        function change_image(){
            console.log('salam')
            var image = $(`#update_image`).val()
            var data = JSON.stringify({'image': image})
            console.log('salam')
            console.log(image)
            $.ajax({
                type: "post",
                url: '{% url 'change_image' %}',
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    $(`#update_image`).attr('src', `${data.image}`)
                },
            })
            }
    </script>

{% endblock %}