{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>حساب من</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                        <li class="breadcrumb-item active">حساب من</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'orders' %}"> <i class="fa fa-gift"></i> </a>
                                    {% else %}
                                        <a href="{% url 'login' %}" onclick="alert('لطفا وارد شوید')"> <i class="fa fa-gift"></i> </a>
                                    {% endif %}

                                </div>
                                <div class="service-desc">
                                    <h4>سفارشات </h4>
                                    <p>محصولاتی قبلا خریده اید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'fullname' %}"><i class="fa fa-lock"></i> </a>
                                    {% else %}
                                        <a href="{% url 'login' %}" onclick="alert('لطفا وارد شوید')"><i class="fa fa-lock"></i> </a>
                                    {% endif %}

                                </div>
                                <div class="service-desc">
                                    <h4>اطلاعات هویتی</h4>
                                    <p>ویرایش اسم و شماره موبایل</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'addresses' %}"> <i class="fa fa-location-arrow"></i> </a>
                                    {% else %}
                                        <a href="{% url 'login' %}" onclick="alert('لطفا وارد شوید')"> <i class="fa fa-location-arrow"></i> </a>
                                    {% endif %}


                                </div>
                                <div class="service-desc">
                                    <h4>آدرس های من</h4>
                                    <p>ویرایش آدرس ها</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account -->
{% endblock %}